main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 800px;
  text-align: center;
  padding: 2rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  section {
    max-width: 100%;
    text-align: left;
    padding: 0;
  }
}

footer {
  text-align: center;
  position: relative;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
