:root {
  --main-bright-bg-colour: #bbbbbb;
  --main-bright-text-colour: #08090A;
  --main-dark-bg-colour: #08090A;
  --main-dark-text-colour: #bbbbbb;
}

body { background: var(--main-bright-bg-colour); color: var(--main-bright-text-colour); }

@media (prefers-color-scheme: dark) {
    body   { background:  var(--main-dark-bg-colour); color: var(--main-dark-text-colour); }
  }
  
@media (prefers-color-scheme: light) {
    body   { background:var(--main-bright-bg-colour); color: var(--main-bright-text-colour);}
  }

.center {
    display: flex;
    justify-content: center;
}

/* Set the background color and add some padding */
header {
  padding: 10px;
}

/* Style the h1 tag */
header h1 {
  font-size: 30px;
  margin: 0;
}

/* Style the navigation links */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
