* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bright-bg-colour: #bbbbbb;
  --main-bright-text-colour: #08090A;
  --main-dark-bg-colour: #08090A;
  --main-dark-text-colour: #bbbbbb;
}

body {
  background: var(--main-bright-bg-colour);
  color: var(--main-bright-text-colour);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--main-dark-bg-colour);
    color: var(--main-dark-text-colour);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--main-bright-bg-colour);
    color: var(--main-bright-text-colour);
  }
}

.center {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

/* Style the h1 tag */
header h1 {
  font-size: 30px;
  margin: 0;
}

nav ul {
  background-color: #333;
  width: 100%;
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
  z-index: 1;
}

nav li {
  float: left;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}

nav a:hover:not(.active) {
  background-color: #555;
}

nav a.active {
  background-color: #555;
  pointer-events: none;
  /* Disable clicking */
}


p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 2rem 0;
  padding: 0 2rem;
}


footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.25rem;
}

