* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bright-bg-colour: #bbbbbb;
  --main-bright-text-colour: #08090a;
  --main-dark-bg-colour: #08090a;
  --main-dark-text-colour: #bbbbbb;
  --shadow-colour: rgba(0, 0, 0, 0.5);
}

body {
  background: var(--main-bright-bg-colour);
  color: var(--main-bright-text-colour);
  font-family: Serif;
  line-height: 1.8;
}

.main-section {
  padding: 2rem 10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-colour: rgba(255, 255, 255, 0.5);
  }
  body {
    background: var(--main-dark-bg-colour);
    color: var(--main-dark-text-colour);
  }
  .main-section .blog-entry:nth-child(odd) {
    background-color: #121416;
  }

  .main-section .blog-entry:nth-child(even) {
    background-color: #1c1e21;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--main-bright-bg-colour);
    color: var(--main-bright-text-colour);
  }


  .main-section .blog-entry:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .main-section .blog-entry:nth-child(even) {
    background-color: #ffffff;
  }
}


@media screen and (max-width: 768px) {
  .main-section {
    text-align: left;
    padding: 1rem;
  }
}

.center {
  display: grid;
  place-items: center;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, Helvetica, Sans-Serif;
}
h2 {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, Helvetica, Sans-Serif;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  width: 100%;
  background-color: #333;
  list-style: none;
}

nav li {
  float: left;
  font-size: 1rem;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}

nav a:hover:not(.active) {
  background-color: #555;
}

nav a.active {
  background-color: #555;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 2rem 0;
  padding: 0 2rem;
}

li {
  font-size: 1.5rem;
}

.code-block {
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.25rem;
}

img {
  max-width: 100%;
}

.blog-entry {
    margin-bottom: 4em;
}

.blog-entry-link {
    grid-area: link;
    font-size: 1.25em;
  }

.blog-entry-link a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .blog-entry-link a {
    color: #fff; 
  }
  .blog-entry-link a:hover {
     background-color: #555;
  }
}

@media (min-width: 500px) {
  .blog-entry {
    display: grid;
    padding: 20px;
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "image desc"
      "image link";
    grid-gap: 20px;
    border-radius: 10px;
  }

  .blog-entry-img {
    grid-area: image;
    align-self: center;
    justify-self: center;
  }
  
  .blog-entry-link {
    justify-self: right; 
  }


  .blog-entry-description {
    grid-area: desc;
  }
}
